.I18NMainToolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    background: #000000;
    color: #ffffff;
    z-index: 10000;
    font-size: 0px;
    border-bottom-right-radius: 5px;
    box-shadow: -1px 1px 3px #888888;
}

.I18NMainToolbar > a {
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
    border: 0px;
    padding: 5px 10px;
    color: inherit;
}

.I18NMainToolbar > a:first-child {
    border-bottom-right-radius: 5px;
}

.I18NMainToolbar > a:hover {
    text-decoration: none;
    color: inherit;
}

.I18NMainToolbar.editing {
    background: #cccccc;
    color: #000000;
}